{% extends 'base.html' %}
{% include static %}
<!--{% block uprofile_active %}active{% endblock %}-->
{% block content %}


<!--parallax 1 -->
<div id="services0"> <!-- class="container-fluid">-->

<section class="bg-1 text-center">
    <h1 class="font-fredericka-lg zoomin-animation verticalcenter" style="overflow-y:  hidden;">Jesus Is Lord</h1>
    <!--
     <h2 class="display-1 text-muted">Welcome to Bethesda Cathedral</h2>
     <img src="static/images/jil.png" alt="bc-icon" class="img-responsive img-center waves-effect">
     <a href="#services1" class="page-scroll text-muted btn btn-lg sr-button btn-position-bottom">Next</a>
     -->
</section>
<!--/parallax 1-->

<div class="divider"></div>

<!--Text Section 1-->
<div class="container-fluid">
  <div class="jumbotron text-center z-depth-0 hoverable " style="background-color: white;  margin-left: 0px; margin-right: 0px; overflow: hidden;">
    <span class="font-vibes-md">Bless the Lord, O my soul: and all that is within me, bless his holy name.</span><br>      
    <span class="pull-right font-vibes-xs">Psalm 103</span>
  </div>
</div>
<!--/Text Section 1-->

<div id="services1">
    <div class="row">
        <!--card-R1C1/3-->
        <div class="col-md-4 col-sm-6 col-sx-6">
            <div class="card large">
                <div class="card-image large">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/handssq.jpg" class="img-responsive img-fluid pull-left " style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-ripple"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <h5 class="h5-responsive text-muted card-title activator">PRAISE IS RISING</h5>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.
                    </p><hr><a href="#" class=" btn card-btn btn-danger pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <!--Card-R1C2/3-->
        <div class="col-md-4 col-sm-6 col-sx-6">
            <div class="card large">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/chinesesq.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-light"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <h5 class="h5-responsive text-muted card-title activator">WORSHIPING YOU</h5>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. asdfjhnkjkbasdfadf.
                    </p><hr><a href="#" class=" btn card-btn btn-primary pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>

        <!--Card-R1C3/3-->
        <div class="col-md-4 col-sm-6 col-sx-6">
            <div class="card large">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/choirsq.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-light"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <h5 class="h5-responsive text-muted card-title activator">PERFECT HARMONY</h5>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.adsfhjkhjadf
                    </p><hr><a href="#" class=" btn card-btn btn-info pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!--/row-->
</div>
<!--/ service1 container-->

<div class="divider"></div>


<section id="services2" class="bg-2">
    <div class="col-sm-10 col-sm-offset-1 text-center">
         <h1 class="display-1 text-muted">Keep Going...</h1>
         <a href="#services0" class="page-scroll btn text-muted btn-lg sr-button btn-position-bottom">Previous</a>
         <a href="#services3" class="page-scroll btn text-muted btn-lg sr-button btn-position-bottom">Next</a>
    </div>
</section>

<div class="divider"></div>
<!--Text2 Section-->
<h2><span class="badge blue">Theme Verse</span></h2>
<blockquote class="blockquote">
    <span class="font-cinzel-sm text-center">"THE LORD IS MY SHEPHERD, I SHALL NOT BE IN WANT."</span><br>
    <span class="font-cinzel-xs pull-right">PSALM 23:1</span>
</blockquote>
<!--/Text2 Section-->
<div class="divider"></div>

<div id="services3" class="container-fluid">
    <div class="row">
        <!--Card-R2C1/4-->
        <div class="col-md-3 col-sm-6 col-sx-4">
            <div class="card small">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/churchcamp.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-light"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <p class="text-muted">PERFECT HARMONY</p>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.adsfhjkhjadf
                    </p><hr><a href="#" class=" btn card-btn btn-info pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>

        <!--Card-R2C2/4-->
        <div class="col-md-3 col-sm-6 col-sx-4">
            <div class="card small">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/churchcamp.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-light"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <p class="text-muted">PERFECT HARMONY</p>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.adsfhjkhjadf
                    </p><hr><a href="#" class=" btn card-btn btn-info pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>

        <!--Card-R2C3/4-->
        <div class="col-md-3 col-sm-6 col-sx-4">
            <div class="card small">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/churchcamp.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-light"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <p class="text-muted">PERFECT HARMONY</p>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.adsfhjkhjadf
                    </p><hr><a href="#" class=" btn card-btn btn-info pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>
        
        <!--Card-R2C4/4-->
        <div class="col-md-3 col-sm-6 col-sx-3">
            <div class="card small">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/churchcamp.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-light"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <p class="text-muted">PERFECT HARMONY</p>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.adsfhjkhjadf
                    </p><hr><a href="#" class=" btn card-btn btn-info pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>
</div>

<!--/container-->
<div class="divider"></div>
<!--parallax 2 -->
<section id="services4" class="bg-3 text-center">
     <h1 class="display-1 text-muted">Parallax Styles</h1>

    <p class="lead text-muted">This is a last section....</p>
    <a href="#services3" class="page-scroll text-muted btn btn-lg sr-button btn-position-bottom">Previous</a>
    <a href="#services5" class="page-scroll text-muted btn btn-lg sr-button btn-position-bottom">Next</a>
</section>
<!--/parallax 2-->
</div>
<div class="divider"></div>

<div id="services5" class="container-fluid">
    <div class="row">
        <!--Card-R3C1/4-->
        <div class="col-md-6 col-sm-6 col-sx-4">
            <div class="card medium">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/churchcamp.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-light"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <p class="text-muted">PERFECT HARMONY</p>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.adsfhjkhjadf
                    </p><hr><a href="#" class=" btn card-btn btn-info pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>

        <!--Card-R3C2/4-->
        <div class="col-md-6 col-sm-6 col-sx-4">
            <div class="card medium">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/churchcamp.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-light"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <p class="text-muted">PERFECT HARMONY</p>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.adsfhjkhjadf
                    </p><hr><a href="#" class=" btn card-btn btn-info pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>

        <!--Card-R3C3/4-->
        <div class="col-md-12 col-sm-6 col-sx-4">
            <div class="card medium">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/churchcamp.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-light"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <p class="text-muted">PERFECT HARMONY</p>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.adsfhjkhjadf
                    </p><hr><a href="#" class=" btn card-btn btn-info pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>
        
        <!--Card-R3C4/4-->
        <div class="col-md-12 col-sm-6 col-sx-3">
            <div class="card medium">
                <div class="card-image">
                <div class="black view overlay hm-zoom hm-white-slight z-depth-0">
                    <img src="static/images/churchcamp.jpg" class="img-responsive img-fluid waves-effect waves-light pull-left" style="overflow:hidden" data-toggle="tooltip" title="Cover Image">
                    <div class="mask waves-effect waves-ripple"><a href="#" class="btn btn-warning pull-right">+</a></div>
                </div>
                </div>
                <p class="text-muted">PERFECT HARMONY</p>
                    <p class="card-content text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue. Aliquam in felis sit amet augue. 
                        Aliquam in felis sit amet augue. Aliquam in felis sit amet augue.adsfhjkhjadf
                    </p><hr><a href="#" class=" btn card-btn btn-info pull-right"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                    <div class="card-footer">
                        <span class="left">49$</span>
                        <span class="right">
                        <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
                        <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
                        </span>
                    </div>
            </div>
        </div>

    </div>
</div>


<!--Side bullets-->
<div class="bullets-container" style="top: 240.5px;">
	<ul class="section-bullets">
		
			<li class="active">
				<a href="#services1" class="page-scroll">
                    <i class="fa fa-square-o hoverable rgba-blue-strong zoomIn" aria-hidden="true"></i>
				</a>
			</li>
		
			<li class="active">
				<a href="#services2" class="page-scroll">
					<i class="fa fa-square-o hoverable rgba-red-strong" aria-hidden="true"></i>
				</a>
			</li>
		
			<li>
				<a href="#services3" class="page-scroll">
					<i class="fa fa-square-o hoverable yellow accent-2" aria-hidden="true"></i>
				</a>
			</li>
		
			<li>
				<a href="#services4" class="page-scroll">
					<i class="fa fa-square-o hoverable rgba-purple-strong" aria-hidden="true"></i>
				</a>
			</li>
		
			<li>
				<a href="#services5" class="page-scroll">
					<i class="fa fa-square-o hoverable deep-orange darken-3" aria-hidden="true"></i>
				</a>
			</li>
		
	</ul>
</div>

<!--/ Sidebullets-->
<h1>Example heading <span class="badge red">New</span></h1>
<h2>Example heading <span class="badge blue">New</span></h2>
<h1 class="display-1">Display 1</h1>
<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>


<!--Example codes-->

<div class="container-fluid">
  <h2>Dynamic Tabs</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

<!--popover-->

<div class="container-fluid">
  <h3>Popover Example</h3>
  <p>Popovers are not CSS-only plugins, and must therefore be initialized with jQuery: select the specified element and call the popover() method.</p>
  <h1 class="btn" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</h1>
</div>

<!--Jumbotran-->
<br>
<div class="container-fluid">
  <div class="jumbotron text-center" style="background-color: rgba(0, 0, 0, 0.05); margin-left: -50px; margin-right: -50px; overflow: hidden;">
    <h1>The Header</h1>      
    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
  </div>
</div>

<!--Next Jumbo-->
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>


{% endblock %}